@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');

body {
    margin: 0 auto;
    background-color: whitesmoke;
    max-width: 1600px;
}
nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
}
nav a {
    text-align: center;
    color: #a6a6a6;
    text-decoration: none;
    padding: 40px;
    font-family: Roboto, sans-serif, serif;
}
nav a:hover {
    background-color: #a6a6a6;
    color: #A42212;
}
header {
    background-color: #A42212;
    display: grid;
    grid-template-columns: 150px auto;
    width: 100%;
}
.logo{
    width: 100%;
    border: 5px solid #A42212;
    border-radius: 15px;
    padding-top: 3px;
}
.dghome-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}
.homepage-title {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    font-family: Anton, sans-serif, serif;
    color: #222E69;
    margin:auto;
    font-size: 3.5em;
    -webkit-text-stroke: 1px white;
}
.temple-img {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: -1;
    width: 100%;
    border-bottom:5px solid #a6a6a6;
    box-shadow: 0px 5px 10px #6f7364;
}
.map-title {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    font-family: Anton, sans-serif, serif;
    color: #222E69
}
.map-img {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    border: 5px solid #a6a6a6;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}
.homepage-paragraph {
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: Roboto, sans-serif, serif;
    padding: 0 70px;
    color: #222E69;
    line-height: 2em;
    font-size: 1.2em;
}
footer {
    background-color: #A42212;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto, sans-serif, serif;
    color: #a6a6a6;
}
footer a {
    color: #a6a6a6;
    text-decoration: none;
}
footer a:hover {
    background-color: #a6a6a6;
    color: #A42212;
}
.holes1to5-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.holes1to5-title {
    grid-column: 1/3;
    font-family: Anton, sans-serif, serif;
    text-align: center;
    color: #222E69;
    font-size: 2.5em;
}
.holeone {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 60%;
    margin: 0 auto;
    border: 5px solid #a6a6a6;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}
.holetwo {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 60%;
    margin: 0 auto;
    border: 5px solid #a6a6a6;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}
.holeonetext {
    grid-column: 1/2;
    grid-row: 3/4;
    color: #222E69;
    text-align: center;
    padding: 0 25%;
}
.holetwotext {
    grid-column: 2/3;
    grid-row: 3/4;
    color: #222E69;
    text-align: center;
    padding: 0 25%;
}
.holetext {
    font-family: Roboto, sans-serif, serif;
    color: #222E69;
    margin-bottom: 60px;
}
.holetitle {
    font-family: Anton, sans-serif, serif;
    color: #222E69;
}
.holethree {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 60%;
    margin: 0 auto;
    border: 5px solid #a6a6a6;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}
.holefour {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 60%;
    margin: 0 auto;
    border: 5px solid #a6a6a6;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}
.holethreetext {
    grid-column: 1/2;
    grid-row: 5/6;
    color: #222E69;
    text-align: center;
    padding: 0 25%;
}
.holefourtext {
    grid-column: 2/3;
    grid-row: 5/6;
    color: #222E69;
    text-align: center;
    padding: 0 25%;
}
.holefive {
    grid-column: 1/3;
    grid-row: 6/7;
    width: 30%;
    margin: 0 auto;
    border: 5px solid #a6a6a6;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}
.holefivetext {
    grid-column: 1/3;
    grid-row: 7/8;
    color: #222E69;
    text-align: center;
    padding: 0 25%;
}